.App {
}

.Form {
    margin: 50px 0 50px 15px;
}

.Form .inputTodo {
    font-size: 24px;
    padding: 10px;
}

.List {
    font-size: 24px;
}

.List input[type=checkbox] {
    margin-right: 10px;
}
